.hamburger {
	cursor: pointer;
	padding: 1px;

	&__rect { 
		width: 24px;
		height: 3px;
		background: $base-color;
		margin-bottom: 4px;

		// &:(:not(:last-child)) {
		// 	margin-bottom: 4px;
		// }
	}

}