.hamburger {
	cursor: pointer;

	position: relative;
	height: 17px;
	width: 24px;

	&__rect { 
		width: 100%;
		height: 3px;
		background: $base-color;
		position: absolute;
		top: calc(50% - 1.5px);
	}

	&:after, &:before {
		content: '';
		width: 100%;
		height: 3px;
		background: $base-color;
		position: absolute;		
		left: 0;
	}
	&:before {
		bottom: 0;
	}
}