.parallax-mountain {

	position: absolute;	
    width: 100%;
    height: 100%;
	overflow: hidden;
	z-index: -1;


	&__sky,
	&__mountain,
	&__baloon,
	&__man,
	&__mountain1,
	&__cloud,
	&__white {		
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		object-fit: cover;
		width: 100%;
		height: 150%;
		max-height: 150%;	
	}
	

}