.skills {
	position: relative;

	&__svg {
		
		transform: rotate(180deg);
	}

	&__text { 
		position: absolute;
		content: '';
		
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
	}

}