.skills {

	position: relative;

	&__title {
		font-weight: 800;
		line-height: 48px;
		font-size: 24px;
		margin-bottom: 16px;
	}

	&__list {
		margin-left: -50px;
	}

	&__item {
		display: inline-flex;
		height: 150px;
		margin-left: 50px;
	}


}