.triangles {

	opacity: 0.99999;
	display: flex;
	width: 100%;
	margin-top: -120px;

	&_inside {
		margin-top: 0;
		margin-bottom: -120px;
		
		& .triangles__svg {
			transform: rotate(180deg);
		}

		@include tablets {
			margin-bottom: -40px;
		}

	}

	&__svg {
		width: 50%;
		height: 120px;
		display: inline-flex;

		@include tablets {
			height: 40px;
		}
	}

	@include tablets {
		margin-top: -40px;
	}
  }