.triangles {


	display: flex;
	width: 100%;
	position: absolute;
    bottom: 0;

	&_inside {
		margin-top: 0;//???
		margin-bottom: -120px;//???
		
		& .triangles__svg {
			transform: rotate(180deg);
		}
	}

	&__svg {
		width: 50%;
		height: 120px;
		display: inline-flex;
	}
  }