script(type="text/x-template")#popup-menu
    .popup-menu
      .popup-menu__content
        .popup-menu__menu 
          nav.menu.menu_popup_theme
            ul.menu__list
              li.menu__item.menu__item_active(
                v-for='item in dataMenu' :key='item.id' 
                :item='item'
                )
                a.menu__link(
                  :href='item.href',
                  :data-title='item.text'
                  ) {{item.text}}

      .popup-menu__socials
        +socials(itemsSocial, '')

      .popup-menu__close(
        @click='closePopup',
      )