script(type="text/x-template")#review
  .review
    .review__text
      p {{review.text}}
    .review__author
      .review__author-avatar
        img.avatar(:src='`https://webdev-api.loftschool.com/${review.photo}`')

      .review__author-name {{review.author}} 
        .review__author-occupation {{review.occ}}