script(type="text/x-template")#skills-list
    .skills
      skills-row(
        v-for='item in dataSkills' :key='item.id' 
        :item="item"
        )



script(type="text/x-template")#skills-row
    .skills__row(v-if='item.skills.length')
      h4.skills__title {{item.category}}
      ul.skills__list
        li.skills__item(
          v-for='skill in item.skills' :key='skill.id' 
          )
          skill(
          :skill="skill"
          )
         


script(type="text/x-template")#skill
    .progress
      svg.progress__svg(preserveAspectRatio="none" viewBox="0 0 150 150")
        linearGradient#gradient
          stop(offset="0%" stop-color="#9300e8")
          stop(offset="100%" stop-color="#4a00ed")
        circle(cx=75 cy=75 r=65 fill="none" stroke="#e9e9e9" stroke-width="10")
        circle(cx=75 cy=75 r=65 ref="circle" fill="none" stroke="url(#gradient)" stroke-width="20" stroke-dasharray=`${200} 500`)
      div.progress__text {{skill.title}}