include ./mixins.pug

<!DOCTYPE html>
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Личный сайт разработчика
  body
    .wrapper
      .maincontent#popup-menu
        .maincontent__header
          header.header
            .container
              .header__container
                .header__logo
                  +logotype('ВА')

                .header__menu
                  -
                    const itemsMenu = [
                      {href: './change-me', text: 'Главная', modifier: 'active'}, 
                      {href: './change-me', text: 'Обо мне'}, 
                      {href: './change-me', text: 'Навыки'}, 
                      {href: './change-me', text: 'Работы'}, 
                      {href: './change-me', text: 'Отзывы'}, 
                      {href: './change-me', text: 'Связаться'},
                    ]

                  +menu(itemsMenu)

                .header__social
                  -
                    const itemsSocial = [
                      {url: 'https://www.instagram.com', text: 'insta', modifier: 'insta'}, 
                      {url: 'https://www.vk.com', text: 'vk', modifier: 'vk'}, 
                      {url: 'https://www.github.com', text: 'github', modifier: 'github'}
                    ]

                  +socials(itemsSocial)

                .header__hamburger(v-on:click='openPopup')
                  .hamburger
                    .hamburger__rect
                    

        .maincontent__popup-menu(:style='stylesPopup')
          .popup-menu
            .popup-menu__content
              .popup-menu__menu            
                +menu(itemsMenu, 'popup_theme')

              .popup-menu__socials
                +socials(itemsSocial, '')

            .popup-menu__close(v-on:click='closePopup')

                    

        .wrapper-sections.wrapper-sections_group1

          section.parallax.parallax_mountain
            .parallax__layer.parallax__layer_back-bg
              +image('content/parallax-mountain/Sky.png', 'parallax__img')
            .parallax__layer.parallax__layer_mountain
              +image('content/parallax-mountain/Mountain.png', 'parallax__img')
            .parallax__layer.parallax__layer_baloon              
              +image('content/parallax-mountain/Baloon.png', 'parallax__img')
            .parallax__layer.parallax__layer_cloud
              +image('content/parallax-mountain/Cloud.png', 'parallax__img')
            .parallax__layer.parallax__layer_man              
              +image('content/parallax-mountain/Man.png', 'parallax__img')
            .parallax__layer.parallax__layer_mountain1
              +image('content/parallax-mountain/Mountain1.png', 'parallax__img')
            .parallax__layer.parallax__layer_white
              +image('content/parallax-mountain/White.png', 'parallax__img')
            .parallax__layer.parallax__layer_front-bg
              +image('content/parallax-mountain/White.png', 'parallax__img')

          
          section.fullscreen-section.greeting
            .container
              .greeting__absolute-block.greeting__absolute-block_center
                +main-title('Личный сайт','веб-разработчика','Владимир Астаханов')

              .greeting__absolute-block.greeting__absolute-block_bottom
                .scroll
                  .scroll__block Скролл
                

          section.about-me
            .container

              .about-me__container
 
                .about-me__block.about-me__block_left
                  .about-me__avatar
                    +avatar('content/user.jpg')

                  - 
                    const itemsAboutMe = [
                      {key: 'Проживаю:', value: 'Новосибирск'},
                      {key: 'Возраст:', value: '29 лет'},
                      {key: 'Родился:', value: '1 января 1991'},
                    ]

                  .about-me__table
                    +table(itemsAboutMe)


                .about-me__block.about-me__block_right
                  .about-me__text.about-me__text_hello Привет, меня зовут
                  .about-me__name 
                    h2 Владимир Астаханов
                  .about-me__text.about-me__text_occupation Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about-me__text.about-me__text_italic Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        +svg-triangles('outside')

        

        .wrapper-sections.wrapper-sections_group2

          section.whatican
            .container
              .whatican__container
                .whatican__picture
              
                .whatican__content
                
                  h3.whatican__title Чем я могу быть полезен вам
                  .whatican__text 
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

                  .whatican__skills
                    .skills
                      h4.skills__title Front-end
                      ul.skills__list
                        - 
                          const itemsSkillsFront = [
                            {skill: 'HTML5', degree: 270},
                            {skill: 'CSS3', degree: 250},
                            {skill: 'Javascript', degree: 40},
                            {skill: 'JQuery и Vue.js', degree: 10},
                          ]
                        each item in itemsSkillsFront
                          li.skills__item                   
                            +progress(item.skill, item.degree)

                    .skills
                      h4.skills__title Workflow
                      ul.skills__list
                        - 
                          const itemsSkillsWork = [
                            {skill: 'Git', degree: 180},
                            {skill: 'Terminal', degree: 190},
                            {skill: 'Gulp', degree: 20},
                            {skill: 'Webpack', degree: 100},
                          ]
                        each item in itemsSkillsWork
                          li.skills__item                   
                            +progress(item.skill, item.degree)
                

          section.myworks
            .container
              h3.myworks__title Мои работы
              .myworks__container
                .myworks__block
                  .slider
                    .slider__slides
                      .slider__preview
                        +image('content/sliderpicture1.jpg', 'slider__picture')
                      .slider__miniatures
                        ul.slider__mini-list
                          li.slider__mini-item
                            +image('content/sliderpicture1.jpg', 'slider__mini-picture')
                          li.slider__mini-item(data-slidenum=2)
                            +image('content/sliderpicture2.jpg', 'slider__mini-picture')
                          li.slider__mini-item(data-slidenum=3)
                            +image('content/sliderpicture3.jpg', 'slider__mini-picture')
                          li.slider__mini-item(data-slidenum=4)
                            +image('content/sliderpicture4.jpg', 'slider__mini-picture')
                      .slider__arrows
                        +arrows('arrow-down', '', true)
                    
                    .slider__decs
                      .slider__tags
                        ul.slider__tags-list
                          li.slider__tags-item HTML
                          li.slider__tags-item CSS
                          li.slider__tags-item JavaScript

                      .slider__title Сайт школы образования
                      .slider__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                      .slider__wrap-link
                        a.slider__link(href='./changeme') Посмотреть сайт


        +svg-triangles('inside')



        .wrapper-sections.wrapper-sections_group3

          section.reviews
            .container
              .reviews__topgroup
                h3.reviews__title Что обо мне говорят
                .reviews__navigation
                  +arrows('arrow-down', 'white_circles', false)

              .reviews__container
                +review('Ковальчук Дмитрий', 'Основатель Loftschool', 'content/review_authot1.png', 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!')
                +review('Владимир Сабанцев', 'Преподватель', 'content/review_authot2.png', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах')
                +review('Владимир Сабанцев', 'Преподватель', 'content/review_authot2.png', 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах')
            
 
          section.contacts
            .container
              h3.contacts__title Связаться со мной

              form.form(action='./change-me' method='post')
                .form__container
                  .form__row
                    .form__block.form__block_name
                      label.form__label(data-text='Введите ваше имя') 
                        input.form__input(type='text', name='name', placeholder='Ковальчук Дмитрий')
                    .form__block.form__block_email
                      label.form__label(data-text='Введите ваш email')
                        input.form__input(type='email', name='email', placeholder='loftschool@study.com')

                  .form__row
                    .form__block.form__block_message
                      label.form__label(data-text='Сообщение к письму')
                        textarea.form__input.form__input_textarea(type='textarea', name='text', placeholder='Требуется ваша помощь в создании сайта.\r\nИнтересуют сроки и цена вопроса', rows='2' cols='77', resize='none' )
                  .form__row
                    .form__block.form__block_button
                      button.form__button(type='submit') Отправить



        footer.footer
          .container
            .footer__container
              .footer__left-block
                .footer__copyright © 2019

                .footer__main-title
                  .footer__name Владимир Астахов 
                  .footer__profession Личный сайт веб&#8209разработчика

              .footer__right-block
                .footer__menu
                  +menu(itemsMenu, 'dark_theme')
                .footer__info
                  .footer__info-block
                    .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    .footer__socials
                      +socials(itemsSocial, 'dark_theme')

                  .footer__quote-block
                    .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__author Martin Golding


        //-+image('content/user.jpg', 'user-pic')
        //-+icon('link', 'link-class')
