include ./mixins.pug

<!DOCTYPE html>
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")

    title Личный сайт разработчика
  body
    .wrapper
      .maincontent
        .maincontent__header
          header.header
            .container
              .header__container
                .header__logo
                  .logotype
                    +image('content/logo.png', 'logotype__img')

                .header__menu
                  -
                    const itemsMenu = [
                      {href: './change-me', text: 'Главная', modifier: 'active'}, 
                      {href: './change-me', text: 'Обо мне'}, 
                      {href: './change-me', text: 'Навыки'}, 
                      {href: './change-me', text: 'Работы'}, 
                    ]

                  +menu(itemsMenu)

                .header__social
                  -
                    const itemsSocial = [
                      {url: 'https://vk.com/id594716031', text: 'vk', modifier: 'vk'}, 
                      {url: 'https://github.com/Eshechka', text: 'github', modifier: 'github'}
                    ]

                  +socials(itemsSocial)


                .header__hamburger
                  .hamburger
                    .hamburger__rect
                    

        .maincontent__popup-menu
          .popup-menu
            .popup-menu__content
              .popup-menu__menu 
                +menu(itemsMenu, 'popup_theme')

              .popup-menu__socials
                +socials(itemsSocial, '')

              .popup-menu__close
                    

        .wrapper-sections.wrapper-sections_group1

          section.parallax.parallax_mountain
            .parallax__layer.parallax__layer_back-bg
              +image('content/parallax-mountain/Sky.png', 'parallax__img')
            .parallax__layer.parallax__layer_mountain(data-speedscroll=55)
              +image('content/parallax-mountain/Mountain.png', 'parallax__img')
            .parallax__layer.parallax__layer_baloon(data-speedscroll=8)    
              +image('content/parallax-mountain/Baloon.png', 'parallax__img')
            .parallax__layer.parallax__layer_cloud(data-speedscroll=10)
              +image('content/parallax-mountain/Cloud.png', 'parallax__img')
            .parallax__layer.parallax__layer_man(data-speedscroll=40)          
              +image('content/parallax-mountain/Man.png', 'parallax__img')
            .parallax__layer.parallax__layer_mountain1(data-speedscroll=40)
              +image('content/parallax-mountain/Mountain1.png', 'parallax__img')
            .parallax__layer.parallax__layer_white(data-speedscroll=100)
              +image('content/parallax-mountain/White.png', 'parallax__img')
            .parallax__layer.parallax__layer_extra-cloud(data-speedscroll=70)
              +image('content/parallax-mountain/extra-cloud.png', 'parallax__img')
            .parallax__layer.parallax__layer_front-bg
              +image('content/parallax-mountain/White.png', 'parallax__img')

          
          section.fullscreen-section.greeting
            .container
              .greeting__absolute-block.greeting__absolute-block_center
                +main-title('Личный сайт','веб-разработчика','Лидия')

              .greeting__absolute-block.greeting__absolute-block_bottom
                .scroll
                  .scroll__block Скролл
                

          section.about-me#about-me
            .container

              .about-me__container
 
                .about-me__block.about-me__block_left
                  .about-me__avatar
                    +avatar('content/user.jpg')

                .about-me__block.about-me__block_right
                  .about-me__text.about-me__text_hello Привет, меня зовут
                  .about-me__name 
                    h2 Лидия
                  .about-me__text.about-me__text_occupation Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about-me__text.about-me__text_italic Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.


        +svg-triangles('outside')

 
        .wrapper-sections.wrapper-sections_group2

          section.whatican
            .container
              .whatican__container
                .whatican__picture
              
                .whatican__content
                
                  h3.whatican__title Чем я могу быть полезна
                  .whatican__text 
                    p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.

                  .whatican__skills
                    #skills-component

          section.myworks
            .container
              h3.myworks__title Мои работы
              .myworks__container
                .myworks__block
                  #slider-component


        footer.footer
          .container
            .footer__container
              .footer__left-block
                .footer__copyright © 2021

                .footer__main-title
                  .footer__name Лидия
                  .footer__profession Личный сайт веб&#8209разработчика

              .footer__right-block
                .footer__menu
                  +menu(itemsMenu, 'dark_theme')
                .footer__info
                  .footer__info-block
                    .footer__text Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool
                    .footer__socials
                      +socials(itemsSocial, 'dark_theme')

                  .footer__quote-block
                    .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    .footer__author Martin Golding


    include ./templates/entry.pug